<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModePedestrian</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_openhiker-xfer._tcp</string>
		<string>_openhiker-xfer._udp</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>OpenHiker needs your location to show your position on the map and record hiking tracks.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>OpenHiker needs continuous location access to record your hiking track in the background.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
